// Blue
$lightBlue-1: #DCF5FD; $lightBlue-2: #A0E9FF; $lightBlue-3: #89CFF3;
$lightBlue-4: #00A9FF;

$darkBlue-1: #0C356A;

// Green
$lightGreen-1: #A2C579;

// Red
$lightRed-1: #D80032;

// White
$white: #FFF;

// Yellow
$lightYellow-1: #FFD93D;